@use 'tinted/wheel.scss';
@use 'tinted/palette.scss';

body {
  background: black;
}

.my-color-wheel {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.my-mode-picker {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  height: 2em;
  font-size: 20px;
  opacity: 0.9;
}
